.player {
    grid-area: player;
}

.enemy {
    grid-area: enemy;
}

.enemy__img {
    grid-area: character;
}

.enemy__move {
    grid-area: result;
}

@media (max-width: 900px) {

/*     .character {
        grid-template-areas: 
        "control"
        "player"
        "enemy";
    } */

/*     .player, .enemy {
        grid-template-areas: 
        "result"
        "character";
    } */

}