.messege,
.tieMessege,
.loseMessege,
.winMessege {
    grid-area: messege;
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;
    font-size: min(100px, 20vw);
    animation: messege-animation .6s infinite ease-in;
}

.messege {
    color: var(--color-yellow);
    text-shadow: .2vw .2vw var(--color-dark-yellow);
}

.tieMessege {
    color: var(--color-white);
    text-shadow: .2vw .2vw var(--color-dark-gray);
}

.loseMessege {
    color: var(--color-red);
    text-shadow: .2vw .2vw var(--color-dark-red);
}

.winMessege {
    color: var(--color-green);
    text-shadow: .2vw .2vw var(--color-dark-green);
}

@keyframes messege-animation {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
}